<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<!--style="background-color:dark"-->

<header class="p-3 text-bg-light">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-black text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="fs-2 ">
          <svg xmlns="http://www.w3.org/2000/svg"  height="24" fill="black" class="bi bi-box-seam " viewBox="0 0 16 16">
            <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
          </svg>
        </span>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2  justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-4  text-black">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-black">My projects</a></li>
        </ul>


        <div class="text-end">
<!--            <a class="btn btn-warning" href="#" role="button">CONTACT ME</a>-->
          <a href="{{url_for('dont')}}"><button type="button" class="btn btn-outline-light me-2">don't use</button></a>
          <button type="button" class="btn btn-warning">Contact me</button>
        </div>
      </div>
    </div>
  </header>
<body class="bg-light">

