{%extends 'father_template.html'%}

{%block title%}Projects{%endblock%}

{%block main%}


<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light display-3 mb-5">My projects</h1>
        <p class="lead text-body-secondary">From web development and data science to arcade gaming and more,
            these projects highlight my proficiency.
            Dive into the world of Python and discover the possibilities of my coding journey.</p>

      </div>
    </div>
    <hr>
  </section>

<div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {%for project in projects:%}
        <div class="col">
          <div class="card shadow-sm">
              <img src="{{project.picture}}" class="card-img-top" alt="..." height="200px" width="400px">
            <div class="card-body">
                <h5>{{project.title}}</h5>
              <p class="card-text">{{project.subtitle}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{project.check_url}}">
                  <button type="button" class="btn btn-sm btn-dark">Check this project</button>
                  </a>
                  <a href="{{project.github_url}}">
                  <button type="button" class="btn btn-sm btn-outline-success ">Git Hub </button>
                  </a>
                </div>
                    {%if project.category == 'web'%}
                    <span class="badge text-bg-primary rounded-pill">Web</span>
                    {%elif project.category== 'arcade' %}
                    <span class="badge text-bg-danger rounded-pill">Arcade</span>
                    {%elif project.category == 'gui'%}
                    <span class="badge text-bg-warning rounded-pill">GUI</span>
                    {%elif project.category == 'datascience'%}
                    <span class="badge text-bg-success rounded-pill">Data Science</span>
                    {%elif project.category == 'other'%}
                    <span class="badge text-bg-secondary rounded-pill">Other</span>
                    {%elif project.category == 'python'%}
                     <span class="badge text-bg-dark rounded-pill">Python scripting</span>


                    {%endif%}

              </div>
            </div>
          </div>
        </div>


          {%endfor%}

      </div>
    </div>
  </div>

{%endblock%}